{% extends 'content.html.twig' %}

{% block title %}{{ parent() }} - New event{% endblock %}

{% block content %}
    <h1>Create new Event</h1>

    {{ include('event/_form.html.twig') }}

    <a href="{{ path('app_index') }}">back to list</a>
{% endblock %}
