<div class="offset-lg-3 col-lg-6 text-neutral">
    <h3>Sign up</h3>
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.username, { 'attr': {'autocomplete': 'off'} }) }}
    {{ form_row(registrationForm.password, { 'attr': {'autocomplete': 'off'} }) }}

    <button class="btn btn-sm btn-info">Register</button>
    {{ form_end(registrationForm) }}
</div>